<% include ../head %>

    <form class="form" action="/refuels/create" method="post">

        <div class="input-group">
            <div class="input-row">
                <label>Costo $</label>
                <input type="number" name="cost" placeholder="1620">
            </div>
            <div class="input-row">
                <label>Capacidad lts</label>
                <input type="number" name="capacity" placeholder="45">
            </div>
            <div class="input-row">
                <label>Kilometraje kms</label>
                <input type="number" name="kilometers" placeholder="560">
            </div>
            <div class="input-row">
                <label>Fecha</label>
                <input type="date" name="date" placeholder="16/12/2013">
            </div>
        </div>
        <button class="button">Entrar</button>
    </div>

<% include ../foot %>