<% include ../head %>

    <a href="/refuels/create" class="button pull-right">Agregar Recarga</a>

    <ul class="table-view">
        <% for (var i = 0, length = refuels.length; i < length; i++) { %>
        <li class="table-view-cell">
            <strong>$<%= refuels[i].get('cost') %></strong>
            <p><%= refuels[i].get('kilometers') %> kms</p>
            <p><%= refuels[i].get('capacity') %> lts</p>
            <p><%=: refuels[i].get('created_at') | date %></p>

        </li>
        <% } %>
    </ul>

<% include ../foot %>    