        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script>
        // navigator.standalone indicates if we are into a Safari Web App (iPhone)
        if (navigator.standalone) {
            $('a').on('click', function (e) {
                e.preventDefault();

                window.location.assign(this.href);
            });
        }
        </script>
    </body>
</html>