<form ng-submit="login()" method="post">
    <div class="input-group">
        <div class="input-row">
            <label>Email</label>
            <input type="email" name="email" placeholder="nico@cargas.com" ng-model="user.email">
        </div>
        <div class="input-row">
            <label>Password</label>
            <input type="password" name="password" placeholder="secret" ng-model="user.password">
        </div>
    </div>
    <button type="submit" class="button-block">Ingresar</button>
    <p class="enter-optional-text">O ingresar utilizando:</p>
    <a href="/api/auth/twitter" data-ignore="push" class="social-button twitter-button">Twitter</a>
    <a href="/api/auth/facebook" data-ignore="push" class="social-button facebook-button">Facebook</a>
    <a href="/api/auth/google" data-ignore="push" class="social-button google-button">Google</a>
    <p>
        No tienes cuenta aún? <a href="/register">Registrarme</a>
    </p>
</form>
<!--
GOOGLE is not implemented
<p>
    <a href="/auth/google" data-ignore="push">
        <img src="/images/sign-in-with-google.png" alt="sign in with google">
    </a>
</p>
-->
<p class="count-negative" ng-show="error">{{error}}</p>