<p class="count-negative" ng-show="error">{{ error }}</p>

<form ng-submit="add()" name="form" novalidate>
    <div class="input-group">
        <div class="input-row">
            <label>Nombre</label>
            <input type="text" name="name" placeholder="Super 95 SP" ng-model="fuel.name" required>
        </div>
        <div class="input-row">
            <label>Costo</label>
            <input type="text" name="cost" placeholder="35.50" ng-model="fuel.cost" required>
        </div>
    </div>
    <button type="submit" class="button-block" ng-disabled="!form.$valid">Agregar</button>
</form>

<p class="count-negative" ng-show="form.name.$error.required">Nombre valido requerido</p>
<p class="count-negative" ng-show="form.cost.$error.required">Costo valido requerido</p>

<ul class="list inset">
    <li>Combustibles</li>
    <li ng-repeat="fuel in fuels | filter:defaultFuels">
        <span>{{ fuel.name }} ({{ fuel.cost | currency }})</span>
    </li>
</ul>

<ul class="list inset">
    <li>Mis Combustibles</li>
    <li ng-repeat="fuel in fuels | filter:myFuels">
        <span>{{ fuel.name }} ({{ fuel.cost | currency }})</span>
        <button class="button negative" ng-click="delete(fuel._id)">Eliminar</button>
    </li>
</ul>