<form ng-submit="login()" method="post">
    <div class="input-group">
        <div class="input-row">
            <label>Email</label>
            <input type="email" name="email" placeholder="nico@cargas.com" ng-model="user.email">
        </div>
        <div class="input-row">
            <label>Password</label>
            <input type="password" name="password" placeholder="secret" ng-model="user.password">
        </div>
    </div>
    <button type="submit" class="button-block">Ingresar</button>
    <p class="enter-optional-text">O ingresar utilizando:</p>
    <a href="/api/auth/twitter" class="social-button twitter-button" target="_self">Twitter</a>
    <a href="/api/auth/facebook" class="social-button facebook-button" target="_self">Facebook</a>
    <!--
    <a href="/api/auth/google" class="social-button google-button">Google</a>
    -->
    <p>No tienes cuenta a&uacute;n? <a href="/register">Registrarme</a></p>
</form>
<p class="count-negative" ng-show="error">{{error}}</p>