<form class="form">
    <div class="input-group">
        <div class="input-row">
            <label>Costo $</label>
            <input type="number" name="cost" placeholder="1620" ng-model="refuel.cost">
        </div>
        <div class="input-row">
            <label>Capacidad lts</label>
            <input type="number" name="capacity" placeholder="45" ng-model="refuel.capacity">
        </div>
        <div class="input-row">
            <label>Kilometraje kms</label>
            <input type="number" name="kilometers" placeholder="560" ng-model="refuel.kilometers">
        </div>
    </div>
    <button class="button button-block" ng-click="update()">Guardar</button>
</form>