<form class="form" name="form" novalidate>
    <div>
        <select name="fuel" ng-model="refuel.fuel" ng-options="fuel._id as fuel.name for fuel in fuels" required>
            <option value="">-- Seleccionar Combustible --</option>
        </select>
    </div>
    <div class="input-group">
        <div class="input-row">
            <label>Costo $</label>
            <input type="number" name="cost" placeholder="1620" ng-model="refuel.cost" required>
        </div>
        <div class="input-row">
            <label>Litros</label>
            <input type="number" name="capacity" placeholder="45" ng-model="refuel.capacity" required>
        </div>
        <div class="input-row">
            <label>Kilometraje</label>
            <input type="number" name="kilometers" placeholder="560" ng-model="refuel.kilometers" required>
        </div>
    </div>
    <button class="button button-block" ng-click="update()" ng-disabled="!form.$valid">Guardar</button>
</form>

<p class="count-negative" ng-show="form.fuel.$error.required">Combustible valido requerido</p>
<p class="count-negative" ng-show="form.cost.$error.required">Costo valido requerido</p>
<p class="count-negative" ng-show="form.capacity.$error.required">Litros valido requerido</p>
<p class="count-negative" ng-show="form.kilometers.$error.required">Kilometraje valido requerido</p>