<% include ../../../views/head_beta %>

<div id="logo">
    <h1>Modular Backbone</h1>
</div>
<div class="menu navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li ><a href="#/refuels">Refuels</a></li>
        </ul>
    </div>
</div>

<script>
    var APP_REFUELS = <%- JSON.stringify(refuels) %>;
</script>

<div id="page">Loading....</div>

<% include ../../../views/foot %>